<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
>
  <testsuites>
    <testsuite name="Bender Test Suite">
      <directory>./application/tests/core</directory>
    </testsuite>
  </testsuites>

</phpunit>
